<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add University</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
  <body class="container">
    <main>
    <div class="alert alert-success" id="alermessage" style="display: none" role="alert">Submited successfully</div>
    </main>
    <header class="page-header">
      <h1>Add Varsity</h1>
      <section>
            <form class="form">
              <div class="group-form">
                  <input type="text" class="form-control" id="name" placeholder="University name" required>
              </div>
  
              <div class="group-form">
                  <input type="email" class="form-control" id="email" placeholder="University email" required>
              </div>
  
              <div class="group-form">
                  <input type="text" class="form-control" id="contactno" placeholder="Contact number" required>
              </div>
  
              <div class="group-form">
                  <input type="text" class="form-control" id="country" placeholder="Country" required>
              </div>

              <button type="submit" class="btn btn-default btn-success" onclick="add()" >Submit</button>
            </form>
        </section>
        <br>
      <a class="btn btn-primary" href="http://127.0.0.1:5500/views/client/add.html">Show Varsities</a>
    </header>
</main>
    <script src="main.js"></script>
  </body>
</html>